<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.android.clipboardsaveservice"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <receiver android:name="ClipboardAppReceiver">
            <intent-filter>
                <action android:name="com.android.clipboardsaveservice.CLIPBOARD_SAVE_RECEIVER" />
                <action android:name="com.android.clipboardsaveservice.CLIPBOARD_COPY_RECEIVER" />
            </intent-filter>
        </receiver>
        <service android:name="ClipboardSaveFileAppService">
            <intent-filter>
                <action android:name="com.android.clipboardsaveservice.CLIPBOARD_SAVE_SERVICE" />
            </intent-filter>
        </service>
        <service android:name="ClipboardCopyFileAppService">
            <intent-filter>
                <action android:name="com.android.clipboardsaveservice.CLIPBOARD_COPY_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
