<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.sec.android.app.snsuser" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.snsdisclaimer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".SnsDisclaimer" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.sns.START_SNS_SERVICE_FOR_EMUL" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountfb" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacounttw" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountms" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountli" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountmx" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountme" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountkx" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountrr" />
                <action android:name="com.sec.android.app.snsdisclaimer.snsacountqz" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdatefb" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdatetw" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdatems" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdateli" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdatemx" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdateme" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdatekx" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdaterr" />
                <action android:name="com.sec.android.app.snsdisclaimer.feedsandupdateqz" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="15" />
</manifest>
