<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.sec.dsm.system"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="14" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:allowClearUserData="false">
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name="DSMRingMyMobile" android:excludeFromRecents="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <service android:name=".DSMTrackingService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.dsm.TRACKING_SERVICE" />
            </intent-filter>
        </service>
        <service android:name="com.sec.dsm.system.DSMWipeOutService" />
        <receiver android:name="com.sec.dsm.system.DSMReceiver" android:permission="com.sec.android.permission.DSMLAWMO">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.dsm.DM_MOBILE_TRACKING_START" />
                <action android:name="android.intent.action.dsm.DM_MOBILE_TRACKING_STOP" />
                <action android:name="android.intent.action.dsm.DM_LOCK_MY_PHONE" />
                <action android:name="android.intent.action.dsm.DM_RING_MY_PHONE" />
                <action android:name="android.intent.action.dsm.DM_FACTORY_RESET" />
                <action android:name="android.intent.action.dsm.DM_WIPE" />
                <action android:name="android.intent.action.dsm.DM_LOCK_RELEASE" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.SAMSUNG_ACCOUNT_SIGNOUT_FAILED" />
                <action android:name="android.intent.action.SAMSUNG_ACCOUNT_SIGNOUT_SUCCESS" />
                <action android:name="osp.signin.SAMSUNG_ACCOUNT_SIGNOUT" />
                <action android:name="android.intent.action.REMOTE_CONTROL_OFF" />
            </intent-filter>
        </receiver>
        <provider android:name="com.sec.dsm.system.DSMContentProvider" android:permission="com.sec.android.permission.DSMPROVIDER" android:authorities="com.sec.dsm.system.dsmcontentprovider" />
    </application>
    <permission android:name="com.sec.android.permission.DSMLAWMO" android:protectionLevel="signatureOrSystem" />
    <permission android:name="com.sec.android.permission.DSMPROVIDER" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="com.osp.contentprovider.OSPContentProvider.READ_CONTENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
</manifest>
