<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.selftestmode"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.sec.android.app.selftestmode.permission.KEYSTRING" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:label="@string/app_name" android:name=".SelfTestModeMain" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.Dialog" android:name=".BluetoothTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".TspDotModeTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".TspGridModeTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".AccelerometerSensorTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".LightSensorTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".ProximityTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="@string/app_name" android:name="com.sec.android.app.selftestmode.camera.Camera" android:process="com.android.phone" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" />
        <uses-library android:name="seccamera" />
        <receiver android:name=".SelfTestModeReceiver" android:permission="com.sec.android.app.selftestmode.permission.KEYSTRING">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="7353" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15" />
</manifest>
