<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="39343" android:versionName="3.26.92.39343" package="com.swype.android.inputmethod"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />
    <application android:label="@string/ime_name" android:icon="@drawable/icon" android:name="SwypeApplication">
        <service android:label="@string/ime_name" android:name="SwypeInputMethod" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter android:priority="15">
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        <service android:name="PhonebookProcessor" />
        <activity android:label="@string/help_settings_title" android:name="com.swype.android.settings.HelpActivity" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize" android:allowTaskReparenting="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.swype.android.inputmethod.system_tutorial" />
                <action android:name="com.swype.android.inputmethod.tutorial" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/settings_title" android:name="com.swype.android.inputmethod.SettingsLauncher" android:excludeFromRecents="true" />
        <activity android:label="@string/settings_title" android:name="com.swype.android.settings.SwypeSettings" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.swype.android.inputmethod.SwypeSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_preference_title" android:name="com.swype.android.settings.SwypeInputMethodSettings" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/languages_settings_title" android:name="com.swype.android.settings.SwypeInputMethodSettingsLanguages" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.swype.android.settings.SwypeInputMethodSettingsLanguages" />
                <action android:name="com.swype.android.connect.settings.DownloadLanguageProgress" />
                <action android:name="com.swype.android.connect.Refresh" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_word_suggestion" android:name="com.swype.android.settings.WordSuggestionSetting" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/pref_udb_manager_title" android:name="com.swype.android.settings.ManageUdbActivity" android:excludeFromRecents="true" android:launchMode="singleTask" />
        <activity android:label="@string/pref_udb_manager_title" android:name="com.swype.android.settings.ManageUdbActivity$Editor" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/pref_udb_manager_title" android:name="com.swype.android.settings.SelectUdbWordsActivity" />
        <activity android:name="SwypeDataManagement" android:permission="com.swype.android.inputmethod.PRIVATE_COMMANDS" android:excludeFromRecents="true" android:launchMode="standard">
            <intent-filter>
                <action android:name="com.swype.android.inputmethod.datamanagement" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="SwypeDataInitializer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Translucent" android:name="com.swype.android.voice.VoiceResultActivity" />
        <activity android:label="@string/tutorial_title" android:name="com.swype.android.intro.TutorialVideo" android:excludeFromRecents="true" android:launchMode="singleTask" />
        <service android:name="com.swype.android.connect.ConnectClient" android:enabled="true" android:exported="false" android:process=":SwypeConnect">
            <intent-filter>
                <action android:name="com.swype.android.connect.ConnectClient" />
                <action android:name="com.swype.android.connect.RefreshMessages" />
                <action android:name="com.swype.android.connect.RefreshConnect" />
                <action android:name="com.swype.android.connect.RefreshConnectData" />
                <action android:name="com.swype.android.connect.DownloadLanguage" />
                <action android:name="com.swype.android.connect.RemoveLanguage" />
            </intent-filter>
        </service>
        <activity android:label="@string/pref_connect_title" android:name="com.swype.android.connect.settings.ConnectPreferenceActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.ConnectPreferenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.swype.android.connect.settings.MessagesActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.MessagesActivity" />
                <action android:name="com.swype.android.connect.ReceivedMessage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_manage_languages_title" android:name="com.swype.android.connect.settings.ManageLanguagesPreferenceActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.ManageLanguagesPreferenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_download_languages_title" android:name="com.swype.android.connect.settings.DownloadLanguagesActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.DownloadLanguagesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_remove_languages_title" android:name="com.swype.android.connect.settings.RemoveLanguagesActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.RemoveLanguagesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_connect_version_title" android:name="com.swype.android.connect.settings.ConnectVersionActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.ConnectVersionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pref_connect_privacy_title" android:name="com.swype.android.connect.settings.ConnectPrivacyActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="com.swype.android.connect.settings.ConnectPrivacyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15" />
    <permission android:label="private_permission" android:name="com.swype.android.inputmethod.PRIVATE_COMMANDS" android:protectionLevel="signature" android:description="@string/permdesc_privatePermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
