<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="444" android:versionName="1.6.0(LF01, 6667)" package="com.sdgtl.mediahub.spr"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:resizeable="false" android:xlargeScreens="true" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="samsung.feature.drm.playready" android:required="false" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="false" android:logo="@drawable/icon_48" android:hardwareAccelerated="true">
        <activity android:label="@string/app_name" android:name=".Main" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:alwaysRetainTaskState="true" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Media Hub - Test config" android:name=".TestConfigSetting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:label="@string/eula_title" android:name=".common.Eula" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".common.ServiceReadyCheck" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".common.LaunchFlow" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".common.LaunchFlowDialog" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".common.NotificationDummy" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".common.ShowCurrentTime" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".screen.FrontPageCategory" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/movie_store" android:name=".screen.MovieStore" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/movie_store" android:name=".screen.MovieStoreDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".screen.MovieStoreDetailDialog" android:launchMode="singleTask" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/tv_store" android:name=".screen.TvStore" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.TvStoreSeasonList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.TvStoreSeasonDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.TvStoreEpisode" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".screen.TvStoreEpisodeDialog" android:launchMode="singleTask" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/my_media" android:name=".screen.MyMedia" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_media" android:name=".screen.MyMediaDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".screen.MyMediaDetailDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/my_media" android:name=".screen.MyMediaNesting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyPage" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_information" android:name=".screen.MyInformation" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyPurchaseList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyPurchaseListDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:label="@string/my_page" android:name=".screen.MyPurchaseListDetailDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyPaymentMethods" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyPaymentMethodsAddNewCard" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/MH.Dialog.NoTitle" android:label="@string/my_page" android:name=".screen.MyPaymentMethodsAddNewCardDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/MH.Dialog.NoTitle" android:label="@string/my_page" android:name=".screen.MyPaymentMethodsAddNewVoucher" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/MH.Dialog.NoTitle" android:label="@string/my_page" android:name=".screen.MyPaymentMethodsAddNewVoucherDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.MyDevicesManaging" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.ParentalControl" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/purchase" android:name=".screen.PurchaseFlow" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".screen.PurchaseFlowDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Dialog.NoTitle" android:label="@string/help" android:name=".screen.Help" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:label="@string/help" android:name=".screen.HelpDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Dialog.NoTitle" android:name=".common.SignInFlow" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MH.Holo.Dialog.NoTitle" android:name=".common.SignInFlowDialog" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name=".screen.StoreSearch" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name=".screen.SDCardUnmount" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="Media Hub - Test config" android:name=".screen.land.TestConfigSettingLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".screen.land.FrontPageCategoryLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/movie_store" android:name=".screen.land.MovieStoreLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.land.TvStoreLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.land.TvStoreSeasonListLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/tv_store" android:name=".screen.land.TvStoreSeasonDetailLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_media" android:name=".screen.land.MyMediaLand" android:launchMode="singleTask" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_media" android:name=".screen.land.MyMediaNestingLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.land.MyPageLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_information" android:name=".screen.land.MyInformationLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.land.MyPurchaseListLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.land.MyPaymentMethodsLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.land.MyDevicesManagingLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:label="@string/my_page" android:name=".screen.land.ParentalControlLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".screen.land.StoreSearchLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name=".screen.land.SDCardUnmountLand" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <service android:name="com.sdgtl.mediahub.spr.contentProvider.ContentProviderService" android:enabled="true">
            <intent-filter>
                <action android:name="com.sdgtl.mediahub.spr.contentProvider.ContentProviderService" />
            </intent-filter>
        </service>
        <service android:name=".download.DownloadService" android:enabled="true">
            <intent-filter>
                <action android:name="com.sdgtl.mediahub.spr.download.DownloadService" />
            </intent-filter>
        </service>
        <receiver android:label="@string/widget_label" android:name=".widget.MediaHubWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.sec.android.widgetapp.APPWIDGET_RESIZE" />
                <action android:name="com.sdgtl.mediahub.spr.widget.widget_left" />
                <action android:name="com.sdgtl.mediahub.spr.widget.widget_right" />
                <action android:name="com.sdgtl.mediahub.spr.widget.refresh" />
                <action android:name="com.sdgtl.mediahub.spr.widget.retry" />
                <action android:name="com.sdgtl.mediahub.spr.widget.cancel" />
                <action android:name="com.sdgtl.mediahub.spr.widget.update" />
                <action android:name="com.sdgtl.mediahub.spr.widget.what_new" />
                <action android:name="com.sdgtl.mediahub.spr.widget.go_mediahub" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
        </receiver>
        <service android:name=".widget.ClassicWidgetService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
</manifest>
