<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.shared" android:versionCode="1" android:versionName="1.0" package="com.sec.android.widgetapp.dualclock"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".AnalogDualClockView">
            <intent-filter>
                <action android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET_ACTION" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
            <meta-data android:name="com.samsung.sec.android.SAMSUNG_WIDGET.widget1.analogtheme" android:resource="@xml/analogtheme" />
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".DigitalDualClockView" android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET_ACTION" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
            <meta-data android:name="com.samsung.sec.android.SAMSUNG_WIDGET.widget1.digitaltheme" android:resource="@xml/digitaltheme" />
        </activity>
        <activity android:name=".WCCities" android:finishOnTaskLaunch="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboard|orientation" android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="com.sec.android.widgetapp.dualclock" android:path="/dualclock/" />
            </intent-filter>
        </activity>
        <activity android:name=".WCCities2" android:finishOnTaskLaunch="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboard|orientation|screenSize" android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="com.sec.android.widgetapp.dualclock" android:path="/dualclock2/" />
            </intent-filter>
        </activity>
        <provider android:name=".DataContentProvider" android:authorities="com.sec.android.widgetapp.dualclock" />
        <uses-library android:name="touchwiz" />
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
</manifest>
