<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.surfsetprop"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="15" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <receiver android:name=".SurfSetProp" android:enabled="true">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SURFSETPROP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
