<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="16" android:versionName="1.6.0.1219" package="com.sec.android.app.mobileprint"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_USB" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    <application android:theme="@style/MobilePrintTheme" android:label="@string/app_name" android:icon="@drawable/icon" android:hardwareAccelerated="true">
        <activity android:theme="@style/MobilePrintTheme.Dialog" android:label="@string/app_name" android:name=".MPrintSearchActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.mobileprint.PRINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/preview" android:name=".MPrintPreviewActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.mobileprint.PRINT_SETTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/print_settings" android:name=".MPrintSettingActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/print_settings" android:name=".MPrintSettingSplitActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/MobilePrintTheme.Dialog" android:name=".MPrintProgressActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize" />
        <service android:name=".MPrintMainService" />
        <service android:name="com.sec.print.mobileprint.printingservice.PrintingService">
            <intent-filter>
                <action android:name="com.sec.android.app.mobileprint.SAPS.PrintService" />
            </intent-filter>
        </service>
        <service android:name="com.sec.print.mobileprint.dm.DeviceManagerService">
            <intent-filter>
                <action android:name="com.sec.android.app.mobileprint.SAPS.DeviceManagerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
