<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0.0" package="com.sec.android.app.myfiles"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.samsung.android.twlauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.samsung.android.twlauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.samsung.sec.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cp" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE">
        <group gid="media_rw" />
    </uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/icon_myfiles">
        <provider android:name=".provider.FileInfoProvider" android:authorities="com.sec.android.app.myfiles.provider" />
        <provider android:name=".provider.SelectedImageProvider" android:authorities="com.sec.android.app.myfiles.provider" />
        <activity android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:label="@string/app_name" android:name="MainActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.android.app.myfiles.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:icon="@drawable/icon_myfiles" android:name="ExternelAccessActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sec.android.app.myfiles.PICK_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="ExternelAccessActivityList" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sec.android.app.myfiles.PICK_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sec.android.app.myfiles.PICK_DATA_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="AllFileBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="AllFileBrowserThumb" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="AllFileBrowserDetail" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="RenameFileBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:name=".activity.RenameActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:name=".activity.CreateFolderActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:name=".activity.DetailsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/settings" android:name=".activity.SettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="ManagedFileBrowser" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="ManagedFileBrowserThumb" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="BtVisibilityFileBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="ListEmptyActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:name="SendAppListDialogActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/app_name" android:name=".fileselector.SingleSelectorActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sec.android.app.myfiles.PICK_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".fileselector.MultiSelectorActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sec.android.app.myfiles.PICK_DATA_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name="com.sec.android.app.myfiles.provider.MxPreviewContentProvider" android:authorities="com.sec.android.app.myfiles.provider.preview" android:syncable="true" android:grantUriPermissions="true" />
        <uses-library android:name="sec_feature" />
        <uses-library android:name="touchwiz" />
    </application>
</manifest>
