<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="241271037" android:versionName="2.4.1.271037" android:installLocation="auto" package="com.google.android.apps.plus"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    <permission android:name="com.google.android.apps.plus.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <permission android:name="com.google.android.apps.hangout.HERMES.permission.C2D_MESSAGE" />
    <permission android:name="com.google.android.apps.hangout.NOTIFICATION.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.apps.plus.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.apps.hangout.HERMES.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.apps.hangout.NOTIFICATION.permission.C2D_MESSAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <supports-screens android:anyDensity="true" android:normalScreens="true" android:largeScreens="true" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.google.android.apps.plus.phone.EsApplication" android:logo="@drawable/icon" android:hardwareAccelerated="true">
        <provider android:label="@string/es_data" android:name=".content.EsProvider" android:authorities="com.google.android.apps.plus.content.EsProvider">
            <path-permission android:readPermission="android.permission.GLOBAL_SEARCH" android:path="/search_suggest_query" />
        </provider>
        <provider android:label="@string/es_data" android:name=".content.EsApiProvider" android:exported="true" android:authorities="com.google.android.apps.plus.content.ApiProvider">
            <path-permission android:readPermission="android.permission.GET_ACCOUNTS" android:path="/account" />
        </provider>
        <provider android:label="@string/es_google_photo_provider" android:name="com.google.android.picasasync.PicasaContentProvider" android:exported="true" android:authorities="com.google.android.apps.plus.content.EsGooglePhotoProvider" android:syncable="true" />
        <receiver android:name="com.google.android.picasasync.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.LowStorageMonitor">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.picasasync.BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.PackagesMediaMonitor">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.CameraMonitor">
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_VIDEO" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.plus.NEW_PICTURE" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.AccountSelectionActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.OutOfBoxActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.OobInstantUploadActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.OobContactsSyncActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.ContactsSyncConfigActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/app_name" android:name=".phone.HomeActivity" android:taskAffinity="com.google.android.apps.plus" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity-alias android:name="com.google.android.apps.plusone.app.HomeScreenActivity" android:exported="true" android:targetActivity=".phone.HomeActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/home_menu_notifications" android:name=".phone.NotificationsActivity" android:launchMode="singleTop" />
        <activity android:theme="@style/Theme.Streams" android:label="@string/home_stream_label" android:name=".phone.StreamsActivity" android:launchMode="singleTop" android:logo="@drawable/ic_menu_stream" />
        <activity android:theme="@style/PeopleSearchTheme" android:name=".phone.PostCommentsActivity" android:windowSoftInputMode="stateUnchanged" android:logo="@drawable/ic_menu_stream" />
        <activity android:theme="@style/CircleBrowserTheme" android:name=".phone.PostActivity" android:launchMode="singleTop" android:logo="@drawable/ic_menu_stream">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/SdkTheme" android:name=".phone.ShareActivity" android:launchMode="singleTop" android:windowSoftInputMode="stateUnchanged" android:logo="@drawable/icon" />
        <activity android:theme="@style/SdkTheme" android:name=".phone.SignOnActivity" android:launchMode="singleTop" android:logo="@drawable/ic_menu_home">
            <intent-filter>
                <action android:name="com.google.android.apps.plus.SHARE_GOOGLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.plus.SHARE_GOOGLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.plus.SHARE_GOOGLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.circles.platform.intent.action.PLUS1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.plus.action.PLUSONE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/CircleBrowserTheme" android:name=".phone.ReshareActivity" android:launchMode="singleTop" android:logo="@drawable/ic_menu_stream" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.CheckinActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.CheckinSearchActivity" />
        <activity android:theme="@style/CircleBrowserTheme.Tabs" android:label="@string/search_activity_label" android:name=".phone.SearchActivity" android:windowSoftInputMode="stateVisible" />
        <activity android:theme="@style/CircleBrowserTheme.Tabs" android:label="@string/home_screen_profile_label" android:name=".phone.ProfileActivity" android:logo="@drawable/ic_menu_profile" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.ProfileActionGatewayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.googleplus.profile" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.ViewStreamItemActivity" android:exported="true" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.ViewStreamItemPhotoActivity" android:exported="true" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.ViewCircleActivity" android:exported="true" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.InviteContactActivity" android:exported="true" />
        <activity android:theme="@style/CircleSelectorTheme" android:name=".phone.CirclesMembershipActivity" />
        <activity android:theme="@style/CircleSelectorTheme" android:label="@string/home_screen_people_label" android:name=".phone.StreamCirclesActivity" />
        <activity android:theme="@style/CircleBrowserTheme.Tabs" android:label="@string/title_circles" android:name=".phone.CirclesActivity" android:logo="@drawable/ic_menu_circles" />
        <activity android:theme="@style/CircleBrowserTheme.Tabs" android:label="@string/title_circles" android:name=".phone.CircleActivity" android:logo="@drawable/ic_menu_circles" />
        <activity android:theme="@style/CircleBrowserTheme" android:name=".phone.AddPeopleActivity" />
        <activity android:theme="@style/CircleBrowserTheme" android:name=".phone.RemovePeopleActivity" />
        <activity android:theme="@style/PeopleSearchTheme" android:name=".phone.PeopleSearchActivity" android:windowSoftInputMode="stateVisible" />
        <activity android:theme="@style/SuggestedPeopleTheme" android:label="@string/title_circles" android:name=".phone.SuggestedPeopleActivity" android:logo="@drawable/ic_menu_circles" />
        <activity android:theme="@style/CircleBrowserTheme" android:label="@string/title_blocked" android:name=".phone.BlockedPeopleActivity" android:logo="@drawable/ic_menu_circles" />
        <activity android:theme="@style/EditAudienceTheme" android:name=".phone.EditAudienceActivity" />
        <activity android:theme="@style/Theme.EmeraldSea.Dark" android:label="@string/home_screen_photos_label" android:name=".phone.PhotosHomeActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/Theme.EmeraldSea.Dark" android:name=".phone.AlbumViewActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/Theme.EmeraldSea.Dark" android:name=".phone.PhotosFromPhoneActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/PhotoViewTheme" android:name=".phone.PhotoViewActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/PhotoViewTheme" android:name=".phone.PhotosFromPhonePhotoViewActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/PhotoViewTheme.Default" android:name=".phone.PhotoPickerActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:theme="@style/VideoViewTheme" android:name=".phone.VideoViewActivity" android:logo="@drawable/ic_menu_photos" />
        <activity android:name=".phone.SettingsActivity" />
        <activity android:name=".phone.LicenseActivity" />
        <activity android:name=".phone.NotificationSettingsActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/home_screen_huddle_label" android:icon="@drawable/realtimechat_launcher_icon" android:name=".phone.ConversationListActivity" android:taskAffinity="com.google.android.apps.realtimechat" android:launchMode="singleTop" android:logo="@drawable/ic_menu_huddle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:name="com.google.android.apps.circles.realtimechat.ConversationListActivity" android:exported="true" android:targetActivity=".phone.ConversationListActivity" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/home_screen_huddle_label" android:icon="@drawable/realtimechat_launcher_icon" android:name=".phone.ConversationActivity" android:taskAffinity="com.google.android.apps.realtimechat" android:launchMode="singleTop" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateUnchanged" android:logo="@drawable/ic_menu_huddle" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/home_screen_huddle_label" android:icon="@drawable/realtimechat_launcher_icon" android:name=".phone.InvitationActivity" android:launchMode="singleTop" android:logo="@drawable/ic_menu_huddle" />
        <activity android:theme="@style/Theme.EmeraldSea" android:label="@string/home_screen_huddle_label" android:icon="@drawable/realtimechat_launcher_icon" android:name=".phone.ParticipantListActivity" android:logo="@drawable/ic_menu_huddle" />
        <activity android:theme="@style/PeopleSearchTheme" android:label="@string/new_huddle_label" android:icon="@drawable/realtimechat_launcher_icon" android:name=".phone.NewConversationActivity" android:windowSoftInputMode="adjustResize" android:logo="@drawable/ic_menu_huddle" />
        <activity android:theme="@style/CircleBrowserTheme" android:label="@string/added_to_circle_title" android:name=".phone.AddedToCircleActivity" />
        <receiver android:name=".hangout.HermesActivity$HermesReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.apps.hangout.HERMES" />
            </intent-filter>
        </receiver>
        <receiver android:name=".hangout.HangoutRingingActivity$HangoutInvitationReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.apps.hangout.NOTIFICATION" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Hangout" android:name=".hangout.HangoutActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".hangout.HangoutParticipantListActivity" android:logo="@drawable/ic_menu_hangout" />
        <activity android:theme="@style/Theme.Hangout" android:name=".hangout.HermesActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.Hangout" android:name=".hangout.HangoutRingingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".hangout.crash.CrashTriggerActivity" android:exported="false" android:process=":HangoutCrashReport" android:stateNotNeeded="true" />
        <service android:name=".hangout.GCommService" />
        <service android:name=".service.EsService" />
        <service android:name=".service.ApiaryService" />
        <service android:name=".realtimechat.RealTimeChatService" />
        <receiver android:name=".service.AccountsChangedReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".realtimechat.NotificationReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.plus.realtimechat.reset" />
            </intent-filter>
        </receiver>
        <receiver android:name=".realtimechat.MessagesAvailableReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.google.android.apps.plus" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.apps.plus" />
            </intent-filter>
        </receiver>
        <service android:name=".service.EsSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/es_sync_adapter" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/es_contacts" />
        </service>
        <service android:name="com.google.android.picasasync.PicasaSyncService" android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
                <action android:name="com.google.android.picasasync.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/es_picasa_sync_adapter" />
            <meta-data android:name="com.google.android.picasasync.priority" android:value="96" />
            <meta-data android:name="com.google.android.picasasync.enable-down-sync" android:value="false" />
            <meta-data android:name="com.google.android.picasasync.authority" android:value="com.google.android.apps.plus.content.EsGooglePhotoProvider" />
        </service>
        <service android:name=".service.AndroidContactsNotificationService" android:exported="true" />
        <receiver android:label="@string/widget_posts_title" android:name=".widget.EsWidgetProvider" android:enabled="@bool/display_widgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/es_widget" />
        </receiver>
        <service android:name=".widget.EsWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" android:exported="false" />
        <activity android:theme="@android:style/Theme.Light.Panel" android:name=".widget.EsWidgetConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.EsWidgetCameraLauncherActivity" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".phone.UrlGatewayActivity" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="plus.google.com" android:pathPrefix="/" />
                <data android:scheme="https" android:host="plus.google.com" android:pathPrefix="/" />
                <data android:scheme="content" android:host="plus.google.com" android:pathPrefix="/" />
                <data android:scheme="http" android:host="talkgadget.google.com" />
                <data android:scheme="https" android:host="talkgadget.google.com" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.EmeraldSea" android:name=".phone.UrlGatewayLoaderActivity" />
        <service android:name=".service.SkyjamPlaybackService" />
        <receiver android:label="@string/widget_photos_title" android:name=".widget.EsPhotoWidgetProvider" android:enabled="@bool/display_widgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/es_photo_widget" />
        </receiver>
        <service android:name=".widget.EsPhotoWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" android:exported="false" />
        <receiver android:name=".service.LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/app_name" android:name=".widget.EsFroyoWidgetProvider" android:enabled="@bool/display_froyo_widgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/es_froyo_widget" />
        </receiver>
        <activity android:name=".ads.PlusOneActivity" android:logo="@drawable/ic_menu_home" />
        <activity android:theme="@style/SdkTheme" android:name=".phone.PlusOneActivity" android:windowSoftInputMode="stateAlwaysHidden" android:logo="@drawable/icon" />
        <activity android:theme="@style/CircleBrowserTheme" android:name=".ads.LegacyPlusOneActivity" android:logo="@drawable/ic_menu_home" />
        <activity-alias android:name="com.google.android.apps.circles.platform.PlusOneActivity" android:exported="true" android:targetActivity=".ads.LegacyPlusOneActivity" />
        <provider android:name="com.google.android.apps.plus.content.AdsProvider" android:exported="true" android:authorities="com.google.plus.platform" />
    </application>
</manifest>
