<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="15" android:versionName="4.0.3-eng.debianl.20120107.044026" package="legendk"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <application android:allowClearUserData="false" android:hasCode="false" android:persistent="true" android:process="system">
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.android.legendk.systemui.StBar.FlashltActivity" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation" />
    </application>
</manifest>
