<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.sec.android.app.snsuser" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.snsaccountli"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns.permission.WRITE_SNSDB" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.sns.permission.RECEIVE_SNS_BROADCAST" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application android:label="SNSAccountLi" android:icon="@drawable/icon_linkedin" android:process="com.sec.android.app.snsaccount">
        <activity android:label="" android:name=".activity.SnsAccountLiInformationActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountli.SetupAccount" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.snsacountli" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="SNS AccountLi" android:name=".activity.SnsAccountLiAuthenticatorActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountli.AuthenticatorActivity" />
                <action android:name="com.sec.android.app.snsaccountli.RETRY_LOGIN_LINKEDIN" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.feedsandupdateli" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:label="SnsAccountLiAuthenticatorService" android:name=".linkedin.SnsAccountLiAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_linkedin" />
        </service>
        <provider android:name=".SnsAccountLiContentProvider" android:authorities="com.sec.android.app.provider.snsaccountli" />
        <receiver android:name=".SnsAccountLiBroadcastReceiver">
            <intent-filter>
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_LINKEDIN" />
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_LINKEDIN_BY_APPS" />
                <action android:name="com.sec.android.app.sns.action.DEBUG" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="15" />
</manifest>
