<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.monotype.android.font.helvneuelt"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="12" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="false" />
</manifest>
