<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="@string/sharedUserId" android:versionCode="2012052516" android:versionName="1.7.09" package="com.sprint.w.installer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="13" />
    <permission android:name="com.sprint.permission.SET_PREFERRED_APPLICATIONS" />
    <permission android:name="com.sprint.permission.CONTENT_PROVIDER" />
    <uses-permission android:name="com.sprint.internal.permission.SYSTEMPROPERTIES" />
    <uses-permission android:name="com.sprint.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="com.sprint.permission.CONTENT_PROVIDER" />
    <uses-permission android:name="com.sprint.permission.INSTALL_UPDATES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:theme="@style/Theme.SprintID" android:label="@string/app_name" android:icon="@drawable/icon" android:name=".WInstallerApp">
        <provider android:name=".SearchSuggestProvider" android:authorities="com.sprint.w.installer.SuggestProvider" />
        <activity android:label="@string/search_label" android:name=".delivery.SearchActivity" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="vm.sprintpcs.com" android:path="/search" />
                <data android:scheme="sop" android:host="search" android:path="" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".SprintIdHome" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pack_switcher_label" android:name=".ServicePackSwitcher" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".psi.PsiPackBrowser">
            <meta-data android:name="android.app.default_searchable" android:value=".delivery.SearchActivity" />
        </activity>
        <activity android:label="@string/app_name" android:name=".ManagePacksActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Dialog" android:name=".PackInstaller" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name=".NonDataSubscriber" />
        <activity android:name=".SprintIdInfo" />
        <activity android:name=".PackUninstaller" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".PackRemover" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".PackDetails" />
        <activity android:name=".RssPackBrowser" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value=".delivery.SearchActivity" />
        </activity>
        <activity android:label="@string/title_terms_and_conditions" android:name=".TermsAndConditions" />
        <activity android:name=".psi.PsiPackDetails">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="vm.sprintpcs.com" android:path="/redirect" />
                <data android:scheme="sop" android:host="details" android:path="" />
            </intent-filter>
        </activity>
        <activity android:name=".RssPackDetails" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sop" android:host="rssDetails" android:path="" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdaterClient" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.SprintID.Fullscreen" android:name=".ScreenshotViewer" android:screenOrientation="portrait" />
        <activity android:label="@string/pick_wallpaper" android:icon="@drawable/ic_launcher_wallpaper" android:name="WallpaperChooser" android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".dev.DevModeHandlerActivity">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="developer.sprint.com" android:path="/wsid" />
                <data android:scheme="https" android:host="developer.sprint.com" android:path="/wsid" />
                <data android:scheme="sop" android:host="devmode" android:path="" />
            </intent-filter>
        </activity>
        <activity android:name=".dev.DeveloperLanding">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".delivery.KeyWordLookup" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sop" android:host="keyword" android:path="" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".delivery.SearchActivity" />
        </activity>
        <activity android:name=".delivery.CatalogCardViewer" android:configChanges="keyboardHidden">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sop" android:host="deliverydetails" android:path="" />
            </intent-filter>
        </activity>
        <activity android:name=".delivery.TermsAndConditions" android:configChanges="keyboardHidden" />
        <activity android:name=".delivery.DeliveryHub" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="developer.sprint.com" android:path="/wsed" />
                <data android:scheme="https" android:host="developer.sprint.com" android:path="/wsed" />
                <data android:scheme="sop" android:host="delivery" android:path="" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".delivery.SearchActivity" />
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name=".NotifyInstallDefaultPackActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.sprint.id.updater.ConfigurationActivity">
            <intent-filter>
                <action android:name="com.sprint.id.updater.ACTION_UPDATE_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name=".ContentProvider" android:permission="com.sprint.permission.CONTENT_PROVIDER" android:authorities="com.sprint.installer" />
        <receiver android:name=".BootListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.sprint.id.notify.STALE_DOWNLOADS_CLEARED" />
                <action android:name="com.sprint.id.notify.DEFAULT_PACK_STARTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.InstallShortcutReceiver">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WallpaperListener">
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.UpdateShortcutsService" />
        <service android:name=".WallpaperCaptureService" />
        <service android:name=".DownloadService" />
        <service android:name=".VoicemailService" />
        <service android:name=".AlarmService" />
        <service android:name=".service.DefaultPackService" />
        <service android:name=".service.D2CPackService" />
        <service android:name=".delivery.ReportPostService" />
        <service android:name="com.sprint.id.updater.UpdaterService" />
        <receiver android:name=".SDCardStateReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
