<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.samsung.SMT"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name">
        <service android:label="@string/app_name" android:name=".SamsungTTSService">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine" />
        </service>
        <activity android:theme="@android:style/Theme.NoDisplay" android:name=".CheckVoiceData">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoDisplay" android:name=".GetSampleText">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/samsungtts_settings" android:name=".SamsungTTSSettings" />
        <activity android:theme="@android:style/AlertDialog.DeviceDefault.Light" android:label="@string/open_source_licenses" android:name="DisplayLicense" android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>
</manifest>
