<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.sec.android.app.snsuser" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.snsaccountfb"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns.permission.WRITE_SNSDB" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.sns.permission.RECEIVE_SNS_BROADCAST" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application android:label="SNSAccountFb" android:icon="@drawable/icon_facebook" android:process="com.sec.android.app.snsaccount">
        <activity android:label="" android:name=".activity.SnsAccountFbInformationActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountfb.SetupAccount" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.snsacountfb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="SNS AccountFb" android:name=".activity.SnsAccountFbAuthenticatorActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountfb.AuthenticatorActivity" />
                <action android:name="com.sec.android.app.snsaccountfb.RETRY_LOGIN_FACEBOOK" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.feedsandupdatefb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="" android:name=".activity.SnsAccountFbIntervalSetupActivity" />
        <activity android:label="" android:name=".activity.SnsAccountFbSyncSetupActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:label="SnsAccountFbAuthenticatorService" android:name=".facebook.SnsAccountFbAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_facebook" />
        </service>
        <service android:label="SnsAccountFbSyncAdapterCalendarService" android:name=".facebook.SnsAccountFbSyncAdapterCalendarService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_calendar_facebook" />
        </service>
        <service android:label="SnsAccountFbSyncAdapterMessageService" android:name=".facebook.SnsAccountFbSyncAdapterMessageService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_message_facebook" />
        </service>
        <provider android:name=".SnsAccountFbContentProvider" android:authorities="com.sec.android.app.provider.snsaccountfb" />
        <receiver android:name=".SnsAccountFbBroadcastReceiver">
            <intent-filter>
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_FACEBOOK" />
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_FACEBOOK_BY_APPS" />
                <action android:name="com.sec.android.app.sns.action.DEBUG" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="15" />
</manifest>
