<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.lcdtest"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.sec.android.app.lcdtest.permission.KEYSTRING" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <application>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name=".lcdtest" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_red" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_green" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_blue" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_receiver" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_vibration" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name=".button_dimming" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".AccImageTest" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".button_subkey" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".SensorTest" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:name=".button_touch" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Dialog" android:name=".button_touch_pass" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Dialog" android:name=".button_touch_fail" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".GyroscopeSensorTest" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".GyroSensorGraphActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="CameraImageView" android:process="com.android.phone" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="Device Test" android:name=".vibration_test" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="MelodyTest" android:name=".melody_test" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="Touch screen version" android:name=".touch_firmware" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="Touch sensity test" android:name=".PointerLocation" android:configChanges="keyboard|keyboardHidden|navigation" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name=".Proximity_test" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="RAM version" android:name=".ram_check" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="LightSensorRead" android:name=".LightsensorRead" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:keepScreenOn="true" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:label="Device Test" android:name=".CabcTest" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:name="GyroSensorDisplay" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <receiver android:name="TestingBroadcastReceiver" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="0*" />
                <data android:scheme="android_secret_code" android:host="0842" />
                <data android:scheme="android_secret_code" android:host="0673" />
                <data android:scheme="android_secret_code" android:host="7780" />
                <data android:scheme="android_secret_code" android:host="0289" />
                <data android:scheme="android_secret_code" android:host="2663" />
                <data android:scheme="android_secret_code" android:host="2664" />
                <data android:scheme="android_secret_code" android:host="0588" />
                <data android:scheme="android_secret_code" android:host="3264" />
                <data android:scheme="android_secret_code" android:host="3574" />
                <data android:scheme="android_secret_code" android:host="4736767*738" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
</manifest>
