<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="2" android:versionName="2.0.0" package="com.sec.android.app.kieswifi"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <application android:theme="@touchwiz:style/TwTheme" android:label="@string/app_name" android:icon="@drawable/mainmenu_icon_kies_via_wifi">
        <uses-library android:name="touchwiz" />
        <activity android:theme="@android:style/Theme.Translucent" android:name=".ui.CreateShortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/DefaultDialogCustom" android:name=".ui.KiesLauncher" android:launchMode="singleInstance" android:configChanges="orientation|screenSize">
            <intent-filter android:icon="@drawable/mainmenu_icon_kies_via_wifi">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.MainActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.ConnectActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/DefaultDialogCustom" android:name=".warningview.NetworkWarningActivity" />
        <activity android:theme="@style/HoloDialogCustom" android:label="@string/app_name" android:name=".ui.MainActivityTablet" android:configChanges="orientation|screenSize" finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/HoloDialogCustom" android:label="@string/app_name" android:name=".ui.ConnectActivityTablet" android:configChanges="orientation|screenSize" finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
</manifest>
