<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="14090" android:versionName="1.4.9" package="com.google.android.videos"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="14" />
    <application android:theme="@style/Theme" android:label="@string/long_app_name" android:icon="@mipmap/ic_launcher_videos" android:name="com.google.android.youtube.videos.VideosApplication" android:manageSpaceActivity="com.google.android.youtube.videos.honeycomb.ManageSpaceActivity" android:hardwareAccelerated="true">
        <uses-library android:name="com.google.widevine.software.drm" android:required="false" />
        <activity android:theme="@style/Theme" android:label="@string/application_name" android:name="com.google.android.youtube.videos.honeycomb.VideosActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="youtube.com" android:path="/my_purchases" />
                <data android:scheme="https" android:host="youtube.com" android:path="/my_purchases" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*.youtube.com" android:path="/my_purchases" />
                <data android:scheme="https" android:host="*.youtube.com" android:path="/my_purchases" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.youtube.videos.honeycomb.LauncherActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.google.android.videos.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="youtube.com" android:pathPrefix="/watch" />
                <data android:scheme="https" android:host="youtube.com" android:pathPrefix="/watch" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.videos.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*.youtube.com" android:pathPrefix="/watch" />
                <data android:scheme="https" android:host="*.youtube.com" android:pathPrefix="/watch" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="youtube.com" android:path="/movie" />
                <data android:scheme="https" android:host="youtube.com" android:path="/movie" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*.youtube.com" android:path="/movie" />
                <data android:scheme="https" android:host="*.youtube.com" android:path="/movie" />
            </intent-filter>
        </activity>
        <activity android:label="@string/settings_title" android:name="com.google.android.youtube.videos.honeycomb.SettingsActivity" android:configChanges="keyboardHidden" />
        <activity-alias android:label="@string/settings_title" android:name="com.google.android.youtube.videos.ManageNetworkUsageActivity" android:enabled="false" android:targetActivity="com.google.android.youtube.videos.honeycomb.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name="com.google.android.youtube.videos.honeycomb.WatchActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.google.android.youtube.videos.honeycomb.ManageSpaceActivity" />
        <activity android:theme="@android:style/Theme.Holo.Dialog" android:label="@string/open_source_licenses_title" android:name="com.google.android.youtube.core.LicensesActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <provider android:name="com.google.android.youtube.videos.honeycomb.search.VideoSearchProvider" android:permission="android.permission.GLOBAL_SEARCH" android:authorities="com.google.android.videos" />
        <service android:name="com.google.android.youtube.videos.DownloadJanitorService" />
        <receiver android:name="com.google.android.youtube.videos.DownloadJanitorService$AlarmReceiver" />
        <service android:name="com.google.android.youtube.videos.transfer.VideoDownloadService" />
        <receiver android:name="com.google.android.youtube.videos.transfer.VideoDownloadService$BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.youtube.core.async.UserAuthorizer$AccountsChangedService" />
        <receiver android:name="com.google.android.youtube.core.async.UserAuthorizer$AccountsChangedReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
