<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.android.samsungtest.SlateTest"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <application android:icon="@drawable/icon">
        <receiver android:name="com.android.samsungtest.SlateBroadcastReceiver" android:process="com.android.phone">
            <intent-filter>
                <action android:name="com.android.samsungtest.SLATE_TEST" />
                <action android:name="com.android.samsungtest.SLATE_TEST.setChargingResult" />
                <action android:name="com.android.samsungtest.SLATE_TEST.setDisableChargingResult" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.samsungtest.SlateSetDataBroadcastReceiver" android:sharedUserId="android.uid.system">
            <intent-filter>
                <action android:name="com.android.samsungtest.SLATE_TEST.setCharging" />
                <action android:name="com.android.samsungtest.SLATE_TEST.setDisableCharging" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
