<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3120" android:versionName="3.0.3120.5" package="com.infraware.polarisoffice"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/launcher" android:name="com.infraware.polarisoffice.MyApplication" android:debuggable="false">
        <activity android:label="@string/app_name" android:name="com.infraware.polarisoffice.OfficeMainActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.infraware.common.baseactivity.BaseActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/app_name" android:name="com.infraware.polarisoffice.OfficeFileManager" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.infraware.polarisoffice.OfficeLauncherActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/hwp" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.infraware.polarisoffice.OfficeProductInfo" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_OFFICE_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.infraware.polarisoffice.OfficeMainLogo" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/app_name" android:name="com.infraware.office.baseframe.EvBaseThumbnailActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.infraware.polarisoffice.viewer.ViewerActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_bookclip" android:name="com.infraware.polarisoffice.viewer.BookClipActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_paragraph" android:name="com.infraware.polarisoffice.common.ParagraphActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_bullet_numbering" android:name="com.infraware.polarisoffice.common.BulletNumberingActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_fills_borders" android:name="com.infraware.polarisoffice.common.FillBordersActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_table_insert" android:name="com.infraware.polarisoffice.common.InsertTableActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_font" android:name="com.infraware.polarisoffice.common.FontActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_customize_toolbar" android:name="com.infraware.polarisoffice.common.CustomizeToolbarActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_insert_shape" android:name="com.infraware.polarisoffice.common.InsertShapeActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_free_draw" android:name="com.infraware.polarisoffice.common.FreeDrawActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_insert_shape" android:name="com.infraware.polarisoffice.common.ShapeActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/app_title" android:name="com.infraware.polarisoffice.common.FileSelectActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.infraware.polarisoffice.common.SaveAsActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.infraware.polarisoffice.word.WordEditorActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_bookmark" android:name="com.infraware.polarisoffice.word.BookmarkActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_word_columns" android:name="com.infraware.polarisoffice.word.ColumnsActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.infraware.polarisoffice.ppt.PPTMainActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_slide_layout" android:name="com.infraware.polarisoffice.ppt.SlideLayoutActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_slides_list" android:name="com.infraware.polarisoffice.ppt.SlideListActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_view_slide_note" android:name="com.infraware.polarisoffice.ppt.SlideNoteActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_slide_show" android:name="com.infraware.polarisoffice.ppt.SlideShowActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:label="@string/dm_slide_show" android:name="com.infraware.polarisoffice.ppt.FreeDrawSlideShowActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.infraware.polarisoffice.sheet.SheetEditorActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SheetInsertChart" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SheetInsertFunction" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SheetInsertFunctionList" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SheetViewList" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SortView" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.DocMaster" android:name="com.infraware.polarisoffice.sheet.SheetFormatAlignment" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/fm_recent_name_samsung" android:icon="@drawable/recent_homescreen" android:name="com.infraware.polarisoffice.recent.RecentFileActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="polaris_office_recent" />
            </intent-filter>
        </activity>
        <activity android:label="@string/fm_favorite_title" android:icon="@drawable/recent_homescreen" android:name="com.infraware.polarisoffice.favorite.FavoriteListActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Translucent" android:label="@string/app_title" android:name="com.infraware.polarisoffice.search.InputSearchKey" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_title" android:name="com.infraware.polarisoffice.search.SearchFileList" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/cm_setting_title" android:name="com.infraware.common.setting.SettingActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_LATEST_VERSION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_DISABLE_CONFIRM_VERSION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_CONNECTION_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_NETWORK_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_FILE_WRITE_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.infraware.polarisoffice.ACTION_USER_CANCEL" />
            </intent-filter>
        </activity>
        <activity android:label="@string/cm_account_setting_title" android:name="com.infraware.common.account.AccountSetting" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/cm_account_add" android:name="com.infraware.common.account.AddAccount" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.infraware.common.account.AddAccountEdit" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/cm_account_edit" android:name="com.infraware.common.account.EditAccount" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/cm_register_title" android:name="com.infraware.common.register.UserRegister" android:configChanges="locale|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/app_title" android:name="com.infraware.filemanager.FileManagerActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent" android:label="@string/fm_recent_name" android:icon="@drawable/recent_homescreen" android:name="com.infraware.filemanager.LiveFolderActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/fm_property_title" android:name="com.infraware.filemanager.FilePropertyActivity" android:configChanges="locale|orientation|screenSize" />
        <activity android:label="@string/fm_template_title" android:name="com.infraware.filemanager.TemplateListActivity" android:configChanges="locale|orientation|screenSize" />
        <provider android:name="com.infraware.filemanager.recent.RecentFileCP" android:multiprocess="true" android:authorities="com.infraware.polarisoffice" />
        <service android:name="com.infraware.common.update.UpdateService" android:enabled="true" />
        <activity android:theme="@android:style/Theme.Dialog" android:name="com.infraware.common.appwidget.FilePickerActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.READ_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.READ_ATTACHMENT_PREVIEW" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE">
        <group gid="media_rw" />
    </uses-permission>
</manifest>
