<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2" android:versionName="12.02.15.02" package="com.sec.android.widgetapp.weatherclock"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:theme="@touchwiz:style/TwTheme" android:label="@string/app_name" android:icon="@drawable/accuweather_trayicon">
        <provider android:name="com.sec.android.widgetapp.weatherclock.provider.accuweather.AccuContentProvider" android:exported="false" android:authorities="com.sec.android.widgetapp.weatherclock" />
        <service android:name="com.sec.android.widgetapp.service.AccuRemoteService" android:process=":remote">
            <intent-filter>
                <action android:name="com.sec.android.widgetapp.service.AccuRemoteServiceInterface" />
                <action android:name="com.sec.android.widgetapp.service.AccuRemoteServiceCallback" />
                <action android:name="com.sec.android.widgetapp.service.AccuRemoteService" />
            </intent-filter>
        </service>
        <receiver android:label="@string/app_name" android:icon="@drawable/thumb_accuweather" android:name=".WeatherWidgetProvider">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weatherwidget_provider" />
            <meta-data android:name="com.sec.android.appwidget.widgetinfo" android:resource="@xml/weatherwidget_provider_info" />
            <intent-filter>
                <action android:name="sec.android.intent.action.HOME_PAUSE" />
                <action android:name="sec.android.intent.action.HOME_RESUME" />
                <action android:name="com.sec.android.widgetapp.APPWIDGET_RESIZE" />
                <action android:name="com.sec.android.widgetapp.weatherclock.action.APPWIDGET_UPDATE" />
                <action android:name="com.sec.android.action.WEATHER_CHANGE" />
                <action android:name="Updated.result" />
                <action android:name="com.sec.android.widgetapp.weatherclock.action.TIME_TICK" />
                <action android:name="com.sec.android.widgetapp.weatherclock.action.MANUAL_REFRESH" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sec.android.widgetapp.weathercolco.action.DETAIL_RESULT" />
                <action android:name="com.sec.android.widgetapp.weathercolco.action.CHANGE_SETTING" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="com.sec.android.widgetapp.accuweatherdaemon.action.SYNC_DATA_WITH_WIDGET" />
                <action android:name="com.sec.android.widgetapp.accuweatherdaemon.action.SYNC_SETTING_WITH_WIDGET" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/menu_add_title" android:name=".menu.MenuAdd" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_search_title" android:name=".menu.MenuSearch" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_city_list_title" android:name="WeatherClockList" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_delete_title" android:name=".menu.MenuDelete" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_change_orders" android:name=".menu.MenuChangeOrders" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name="WeatherClockDetail" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name="WeatherClockSearchDetail" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:label="@string/menu_settings_title" android:name=".menu.MenuSettings" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".MapsActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
        </activity>
        <service android:name=".WeatherService">
            <intent-filter>
                <action android:name="weather.action.startservice" />
                <action android:name="weather.action.stopservice" />
                <action android:name="com.sec.android.widgetapp.accuweatherdaemon.action.SYNC_DATA_WITH_DAEMON" />
            </intent-filter>
        </service>
        <uses-library android:name="com.google.android.maps" />
        <uses-library android:name="touchwiz" />
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
</manifest>
