<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.sec.ccl.csp.app.secretwallpaper.themetwo"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon_windmill">
        <service android:label="@string/app_name" android:icon="@drawable/icon_windmill" android:name=".SecretWallpaperService" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/live_wallpaper" />
        </service>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/setting_title" android:icon="@drawable/icon_windmill" android:name=".SecretWallpaperSetting" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="nosensor" />
        <activity android:theme="@style/NoAnimation" android:label="@string/setting_title" android:icon="@drawable/icon_windmill" android:name=".SecretWallpaperLocalSetting" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="nosensor" />
    </application>
    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
</manifest>
