<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0.0" package="com.sec.app.RilErrorNotifier"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:process="com.android.phone" android:allowTaskReparenting="true">
        <service android:name=".PhoneErrService" android:exported="true" />
        <receiver android:name=".PhoneErrorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SMS_FDN_RESTRICTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SIM_NOT_INSERTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SDCARD_COPY_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATA_COPY_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SIM_INIT_CRASH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RIL_RESET_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONEAPP_RESET_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RIL_TIMEOUT_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NO_SIM_NOTY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATA_ROUTER_DISPLAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_DIAG_OUTGOING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SS_INFO_DISPLAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SS_INFO_CLI" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SS_INFO_CNA" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_DEEP_SLEEP" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SMS_CAUSE_CODES" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
