<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="20305" android:versionName="2.3.5" android:installLocation="auto" package="com.google.android.apps.books"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_apps_books" android:name=".app.TabletBooksApplication" android:hardwareAccelerated="true">
        <activity android:theme="@style/Theme.Light" android:label="@string/main_activity_name" android:name=".app.BooksActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.books.intent.action.READ" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.google.android.apps.books.volume" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="books.google.com" android:pathPrefix="/books/reader" />
                <data android:scheme="http" android:host="books.google.com" android:pathPrefix="/ebooks/reader" />
                <data android:scheme="http" android:host="www.google.com" android:pathPrefix="/books/reader" />
                <data android:scheme="http" android:host="www.google.com" android:pathPrefix="/ebooks/reader" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="googlebooks" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity-alias android:name="com.google.android.apps.books.app.HomeActivity" android:exported="true" android:targetActivity=".app.BooksActivity" />
        <activity android:theme="@style/Theme.PlusOneSignupDay" android:name=".app.TabletBooksPlusOneSignupActivityDay" />
        <activity android:theme="@style/Theme.PlusOneSignupNight" android:name=".app.TabletBooksPlusOneSignupActivityNight" />
        <provider android:name=".provider.BooksProvider" android:permission="android.permission.GLOBAL_SEARCH" android:authorities="com.google.android.apps.books" />
        <service android:name=".service.ContentFetchService" />
        <service android:name=".service.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".service.SetSyncableService" />
        <receiver android:name=".app.AccountsReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".appwidget.BooksAppWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" android:exported="false" />
        <receiver android:name=".appwidget.BooksAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        </receiver>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/books_deleted_activity_title" android:name=".app.BooksDeletedActivity" android:excludeFromRecents="true" android:noHistory="true" />
    </application>
</manifest>
