<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.sec.android.app.snsuser" android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.snsaccountms"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns.permission.WRITE_SNSDB" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.sns.permission.RECEIVE_SNS_BROADCAST" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application android:label="SNSAccountMs" android:icon="@drawable/icon_myspace" android:process="com.sec.android.app.snsaccount">
        <activity android:label="" android:name=".activity.SnsAccountMsInformationActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountms.SetupAccount" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.snsacountms" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="SNS AccountMs" android:name=".activity.SnsAccountMsAuthenticatorActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="com.sec.android.app.snsaccountms.AuthenticatorActivity" />
                <action android:name="com.sec.android.app.snsaccountms.RETRY_LOGIN_MYSPACE" />
                <action android:name="com.sec.android.app.snsdisclaimeragree.feedsandupdatems" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="" android:name=".activity.SnsAccountMsIntervalSetupActivity" />
        <activity android:label="" android:name=".activity.SnsAccountMsSyncSetupActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:label="SnsAccountMsAuthenticatorService" android:name=".myspace.SnsAccountMsAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_myspace" />
        </service>
        <service android:label="SnsAccountMsSyncAdapterMessageService" android:name=".myspace.SnsAccountMsSyncAdapterMessageService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_message_myspace" />
        </service>
        <provider android:name=".SnsAccountMsContentProvider" android:authorities="com.sec.android.app.provider.snsaccountms" />
        <receiver android:name=".SnsAccountMsBroadcastReceiver">
            <intent-filter>
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_MYSPACE" />
                <action android:name="com.sec.android.app.sns.action.RETRY_LOGIN_MYSPACE_BY_APPS" />
                <action android:name="com.sec.android.app.sns.action.DEBUG" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="15" />
</manifest>
