<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="v2.1201.3.1" package="com.syncmldstmo"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:debuggable="false" android:minSdkVersion="14" android:targetSdkVersion="14" />
    <application android:label="@string/SML_STR_SYNCML" android:icon="@drawable/ic_tmo_myphonebook" android:name=".DSApplication" android:debuggable="false">
        <service android:name=".DSService" />
        <activity android:label="@string/SML_STR_LABEL_EMPTY" android:name=".smlMyPhonebook" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_SYNCHRONIZE_RESULT" android:name=".smlSyncResult" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/SML_STR_SYNCHRONIZE_RESULT" android:name=".smlSyncResultContacts" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/SML_STR_SYNCHRONIZE_RESULT" android:name=".smlSyncResultCalendar" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".smluiStartSync" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".smlCheckRoaming" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="smlCheckMember" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="smlCheckStartSanSync" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".smlSyncComplete" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="smlSyncSimContactImport" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".smluiSyncSetting" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_PROFILE_INFO" android:name=".smluiProfile" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_PROFILE_INFO" android:name=".smluiProfileList" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_SERVER" android:name=".smluiServer" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_NETWORK" android:name=".smluiNetwork" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_SYNC_ITEM" android:name=".smluiSyncItem" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/SML_STR_SYNC_TYPE" android:name=".smluiSyncType" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name=".smlBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.START_DS" />
                <action android:name="android.intent.action.SET_DS_MYPHONEBOOK" />
                <action android:name="android.intent.action.MYPHONEBOOK_SELECTED" />
                <action android:name="android.intent.action.MYPHONEBOOK_UPDATED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_DS_NOTI_RECEIVED_MYPHONEBOOK" />
                <action android:name="android.intent.action.MYPHONEBOOK_FRIENDS" />
                <action android:name="android.intent.action.MYPHONEBOOK_CALENDAR_UPDATED" />
                <action android:name="android.intent.action.SYNC_SETTING_UPDATE_BOTH" />
                <action android:name="android.intent.action.SYNC_SETTING_SYNC_FROM_SERVER" />
                <action android:name="android.intent.action.SYNC_SETTING_SYNC_FROM_CLIENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
                <action android:name="SIM_IMPORT_FINISHED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".smlHiddenKeyStringReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="866622728*" />
                <data android:scheme="android_secret_code" android:host="8202" />
            </intent-filter>
        </receiver>
        <uses-library android:name="touchwiz" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.sec.android.app.sns.permission.WRITE_SNSDB" />
    <uses-permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
</manifest>
