<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.sec.android.Kies"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.sec.android.Kies.permission.KEYSTRING" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <application android:label="@string/cable_title" android:icon="@drawable/icon">
        <activity android:label="@string/cable_title" android:name=".kies" android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:label="@string/cable_title" android:name=".kies_start" android:excludeFromRecents="true" android:noHistory="true" />
        <receiver android:name=".kies_receiver" android:permission="com.sec.android.Kies.permission.KEYSTRING">
            <intent-filter>
                <action android:name="android.intent.action.UMS_CONNECTED" />
                <action android:name="com.intent.action.KIES_APP_START" />
                <action android:name="com.intent.action.KIES_APP_STOP" />
                <action android:name="com.intent.action.KIES_GET_LOCK_STATUS" />
                <action android:name="com.intent.action.UMS_APP_START" />
                <action android:name="com.intent.action.UMS_APP_STOP" />
                <action android:name="com.intent.action.KIES_GET_DEVICE_PROFILE_INFO" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/cable_list_samsungkies" android:name=".kies_admin" android:permission="android.permission.BIND_DEVICE_ADMIN" android:description="@string/cable_list_samsungkies">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15" />
</manifest>
