<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.shared" android:versionCode="1" android:versionName="1.0" package="com.sec.android.widgetapp.TwCalendarAppWidget"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".TWCalendarAppWidgetActivity">
            <intent-filter>
                <action android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET_ACTION" />
                <category android:name="com.samsung.sec.android.SAMSUNG_APP_WIDGET" />
            </intent-filter>
            <meta-data android:name="com.samsung.sec.android.SAMSUNG_WIDGET.TwCalendarAppWidget.month_theme" android:resource="@xml/month_theme" />
            <meta-data android:name="com.samsung.sec.android.SAMSUNG_WIDGET.TwCalendarAppWidget.agenda_theme" android:resource="@xml/agenda_theme" />
            <meta-data android:name="com.samsung.sec.android.SAMSUNG_WIDGET.TwCalendarAppWidget.mini_theme" android:resource="@xml/mini_theme" />
        </activity>
        <receiver android:name=".calendarReceiver">
            <intent-filter>
                <action android:name="com.android.calendar.CHANGESHARE" />
            </intent-filter>
        </receiver>
        <uses-library android:name="touchwiz" />
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
</manifest>
