<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2" android:versionName="1.5" package="com.sec.android.app.sns"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.sec.android.app.sns.permission.READ_SNSDB" />
    <permission android:name="com.sec.android.app.sns.permission.WRITE_SNSDB" />
    <permission android:name="com.sec.android.app.sns.permission.RECEIVE_SNS_BROADCAST" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="SnsSvc">
        <service android:name=".SnsService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.sec.android.app.sns.ISnsService" />
                <action android:name="com.sec.android.app.sns.ISnsRequester" />
                <action android:name="com.sec.android.app.sns.ISnsDataUpdate" />
                <action android:name="com.sec.android.app.sns.ISnsServiceCallback" />
            </intent-filter>
        </service>
        <receiver android:name=".SnsBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.sec.android.app.sns.START_SNS_SERVICE_FOR_EMUL" />
                <action android:name="com.sec.android.app.sns.action.CHECK_SESSION_VALIDITY" />
            </intent-filter>
        </receiver>
        <provider android:label="@string/message_lable" android:name=".SnsContentProvider" android:readPermission="com.sec.android.app.sns.permission.READ_SNSDB" android:writePermission="com.sec.android.app.sns.permission.WRITE_SNSDB" android:authorities="com.sec.android.app.provider.sns" />
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
</manifest>
