/* Copyright 2011 Google Inc.  All Rights Reserved. */

/* Css declarations that always get applied to a book */

html, body, .gb-segment {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

#content > .chapter {
    font-family: 'serif'; /* Use the same default as before for books without font-family.*/
}

body.night-mode {
    background: #000;
    color: #fff;
}

span.highlight {
    color: #000000 !important;
    background: #ffff98 !important;
}

/* Make sure we have word wrap */
.chapter pre {
  white-space: pre-wrap !important;
}

/* Make links look like plain text (bug 2947786). */
a {
    color: inherit !important;
    text-decoration: inherit !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/* Styles for the DOM elements created in javascript */
#container {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#content {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#content > .chapter {
    border: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word !important; /* Make sure long words get broken up rather than chopped.*/
}

/* Custom fonts (Needed by the user settings regardless of publisher CSS usage).*/
@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather.ttf');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Italic.ttf');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'OFLGoudyStMTT';
    src: url('fonts/OFLGoudyStMTT.ttf');
}

@font-face {
    font-family: 'OFLGoudyStMTT';
    src: url('fonts/OFLGoudyStMTT-Italic.ttf');
    font-style: italic, oblique;
}
